{% extends "core/base.html" %}
{% load static %}

{% block extra %}
    <link href="{% static "post/postpage.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>POST</h4></div>
            <div class="panel-body postdiv">
               {{ object.content }}
            </div>
    </div>
    {% if user.is_authenticated %}
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url "post:createcomment" pk=object.id %}">Создать новый комментарий</a></li>
    </ul>
    {% endif %}

    <div class="list-group">
            <a href="#" class="list-group-item active">
                Список комментариев:
            </a>
            <div>
            {% for comment in object.comments.all %}
                <li class="list-group-item postdiv"><br>{{ comment.content }}</br></li>
            {% endfor %}
            </div>
    </div>
{% endblock %}

