{% extends "core/base.html" %}
{% load static %}

{% block extra %}
    <link href="{% static "blog/blogpage.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url "blog:createblog" %}">Create new blog</a></li>
      <li role="presentation" class="active"><a href="{% url "blog:createpost" %}">Create new post</a></li>
    </ul>
    {% endif %}

    <div>
        <form method="get" action="{% url "blog:allblogs" %}">
            <div><b>Сортировка</b></div>{{ sortform.sort }}
            <div><b>Поиск по названию</b></div>{{ sortform.search }}
            <input type="submit">
        </form>
    </div>

    <ul class="list-group">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Список блогов
        </a>
        {% for blog in object_list %}
            <div class="blogdiv"><a href={% url "blog:oneblog" pk=blog.id %} class="list-group-item">{{ blog.caption }}</a></div>
            {% if user == blog.author %}<div><li class="list-group-item blogstring"><a href="{% url "blog:editblog" pk=blog.id %}">Edit</a></li></div>{% endif %}
        {% endfor %}

    <div class="clearfix"></div>
    </div>
    </ul>


{% endblock %}
