{% extends "core/base.html" %}

{% block content %}
    <h2><div>{% if user.is_anonymous %}<a href="{% url "core:login" %}">Login</a>{% endif %}</div></h2>
    <h1><div>{{ user.username }}</div></h1>
    {% if user.is_authenticated %}<a href="{% url "core:logout" %}">Exit</a>{% endif %}

    <div><h2>{% if user.is_authenticated %}<a href="{% url "blog:createblog" %}">Make new blog</a>{% endif %}</h2></div>

    <div><h2>{% if user.is_authenticated %}<a href="{% url "blog:createpost" %}">Make new post</a>{% endif %}</h2></div>

    <div>
        <form method="get" action="{% url "blog:allblogs" %}">
            {{ sortform.sort.label_tag }}{{ sortform.sort }}
            {{ sortform.search.label_tag }}{{ sortform.search }}
            <input type="submit">
        </form>
    </div>

    <h1><div>Список блогов</div></h1>
    {% for blog in object_list %}
        <div>
            <div><a href={% url "blog:oneblog" pk=blog.id %}>{{ blog.caption }}</a><b>{% if user == blog.author %}<a href={% url "blog:editblog" pk=blog.id %}> EditIt</a>{% endif %}</b></div>
        </div>
    {% endfor %}
{% endblock %}
