{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra %}
    <link href="{% static "blog/blogpage.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <article>
    {% if user.is_authenticated %}
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url "blog:createblog" %}">Create new blog</a></li>
      <li role="presentation" class="active showModal" data-url="{% url "blog:addpostmodal" %}">Create new post</li>
    </ul>
    {% endif %}

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Creating new post</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div>
        <form method="get" action="{% url "blog:allblogs" %}">
            <div><b>Сортировка</b></div>{{ sortform.sort}}
            <div><b>Поиск по названию</b></div>{{ sortform.search|add_class:"form-control" }}
            <input type="submit">
        </form>
    </div>

    <ul class="list-group">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Список блогов
        </a>
        {% for blog in object_list %}
            <div class="blogdiv"><a href={% url "blog:oneblog" pk=blog.id %} class="list-group-item">{{ blog.caption }}</a></div>
            {% if user == blog.author %}<div><li class="list-group-item blogstring"><a href="{% url "blog:editblog" pk=blog.id %}">Edit</a></li></div>{% endif %}
        {% endfor %}

    <div class="clearfix"></div>
    </div>
    </ul>
    </article>

{% endblock %}
