{% extends "core/base.html" %}

{% block content %}
    <article>
    <form action="{% url "blog:createblog" %}" method="post">
    {% csrf_token %}
    <div class="panel panel-primary">
          <div class="panel-heading">Create new blog</div>
          <div class="panel-body">
            {{ form.errors }}
            {% for field in form %}
                    <div>{{ field.label }}:{{ field }}</div>
                {% endfor %}
            <input type="submit">
          </div>
    </div>
    </form>
    </article>
{% endblock %}