{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <article>
    <form method="post">
    {% csrf_token %}
    <div class="panel panel-primary">
          <div class="panel-heading">Edit blog</div>
          <div class="panel-body">
            {{ form.errors }}
            {% for field in form %}
                {% if field.label == "Category" %}
                     <div class="form-group"><label for="id_categories">Categories</label>{{ form.category|add_class:"form-control catselect" }}</div>
                {% else %}
                    <div><label>{{ field.label }}</label>:{{ field|add_class:"form-control" }}</div>
                {% endif %}
                {% endfor %}
            <input type="submit">
          </div>
    </div>
    </form>
    </article>
{% endblock %}