{% extends "core/base.html" %}

{% block content %}
    <h2><div>{% if user.is_anonymous %}<a href="{% url "core:login" %}">Login</a>{% endif %}</div></h2>
    <h1><div>{{ user.username }}</div></h1>
    {% if user.is_authenticated %}<a href="{% url "core:logout" %}">Exit</a>{% endif %}
    <h1><div>Главная страница сайта</div></h1>
    <div>Всего блогов:{{ blogs_count }}</div>
    <div>Всего постов:{{ posts_count }}</div>
    <div>Всего комментариев:{{ comment_count }}</div>
    <div><h1><a href="{% url "blog:allblogs" %}">All blogs</a></h1></div>
{% endblock %}


