{% extends "core/base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Main page <small>Welcome!</small></h1>
    </div>
    <div class="jumbotron">
          <h2>Главная страница сайта</h2>
          <p>
              <div>Всего блогов:<span class="badge">{{ blogs_count }}</span></div>
                <div>Всего постов:<span class="badge">{{ posts_count }}</span></div>
                <div>Всего комментариев:<span class="badge">{{ comment_count }}</span></div>
          </p>
          <p><a class="btn btn-primary btn-lg" href="{% url "blog:allblogs" %}" role="button">Все блоги</a></p>
    </div>
{% endblock %}


